In [2]:
import pandas as pd
import numpy as np
import collections

In [3]:
stage1_df = pd.read_csv("stage1.csv")

In [4]:
# produce a matrix, print the test file num
article_index = [str(i) for i in list(stage1_df.Num)]
article_index

['1',
 '10',
 '1000',
 '1005',
 '1007',
 '1010',
 '1011',
 '1015',
 '1016',
 '1023',
 '1025',
 '103',
 '1033',
 '1037',
 '1039',
 '104',
 '1041',
 '1049',
 '105',
 '1052',
 '1054',
 '1056',
 '1066',
 '1067',
 '1068',
 '107',
 '1073',
 '1074',
 '1075',
 '1076',
 '108',
 '1082',
 '1086',
 '1087',
 '1088',
 '1093',
 '110',
 '1103',
 '1111',
 '1114',
 '1116',
 '1118',
 '1119',
 '1120',
 '1125',
 '1126',
 '1127',
 '1128',
 '113',
 '1130',
 '1132',
 '1133',
 '1141',
 '1142',
 '1146',
 '1147',
 '1148',
 '1151',
 '1153',
 '1155',
 '1157',
 '1159',
 '1161',
 '1165',
 '1166',
 '1167',
 '117',
 '1170',
 '1172',
 '1173',
 '1176',
 '1178',
 '1180',
 '1185',
 '1186',
 '1187',
 '119',
 '1190',
 '1191',
 '1193',
 '1194',
 '1195',
 '1198',
 '1199',
 '12',
 '1206',
 '1207',
 '121',
 '1217',
 '1218',
 '1226',
 '1228',
 '1229',
 '1230',
 '1232',
 '1234',
 '1236',
 '1237',
 '1239',
 '1243',
 '1244',
 '1247',
 '1249',
 '1250',
 '1253',
 '1255',
 '1256',
 '126',
 '1261',
 '1263',
 '1265',
 '1267',
 '1271',
 '1274',
 '1276',
 '1278',
 '1280',
 '1282',
 '1289',
 '129',
 '1290',
 '1292',
 '1298',
 '1300',
 '1301',
 '1302',
 '1304',
 '1305',
 '131',
 '1310',
 '1311',
 '1315',
 '1319',
 '1320',
 '1323',
 '1324',
 '1326',
 '1327',
 '1329',
 '133',
 '1331',
 '1332',
 '1333',
 '1334',
 '1337',
 '1339',
 '1340',
 '1341',
 '1342',
 '1347',
 '1350',
 '1352',
 '1354',
 '1357',
 '1361',
 '1364',
 '1365',
 '1366',
 '1369',
 '1373',
 '1375',
 '1378',
 '138',
 '1381',
 '1382',
 '1390',
 '1391',
 '1392',
 '14',
 '140',
 '1401',
 '141',
 '142',
 '144',
 '147',
 '150',
 '151',
 '152',
 '154',
 '155',
 '157',
 '163',
 '170',
 '171',
 '176',
 '178',
 '179',
 '181',
 '183',
 '184',
 '185',
 '186',
 '188',
 '189',
 '191',
 '194',
 '197',
 '199',
 '201',
 '209',
 '21',
 '215',
 '219',
 '220',
 '222',
 '223',
 '225',
 '228',
 '230',
 '235',
 '236',
 '237',
 '239',
 '242',
 '243',
 '248',
 '25',
 '26',
 '261',
 '262',
 '263',
 '267',
 '268',
 '27',
 '273',
 '276',
 '279',
 '282',
 '283',
 '285',
 '286',
 '289',
 '29',
 '292',
 '295',
 '296',
 '297',
 '298',
 '299',
 '3',
 '300',
 '301',
 '303',
 '305',
 '306',
 '307',
 '310',
 '311',
 '313',
 '319',
 '32',
 '321',
 '325',
 '326',
 '329',
 '330',
 '333',
 '337',
 '34',
 '342',
 '343',
 '344',
 '35',
 '351',
 '361',
 '362',
 '365',
 '369',
 '37',
 '370',
 '371',
 '373',
 '375',
 '380',
 '381',
 '382',
 '383',
 '387',
 '39',
 '391',
 '392',
 '40',
 '403',
 '41',
 '411',
 '412',
 '415',
 '421',
 '424',
 '431',
 '434',
 '436',
 '437',
 '438',
 '44',
 '441',
 '442',
 '446',
 '449',
 '453',
 '456',
 '457',
 '458',
 '46',
 '463',
 '465',
 '470',
 '471',
 '472',
 '474',
 '475',
 '476',
 '478',
 '480',
 '482',
 '484',
 '49',
 '493',
 '498',
 '5',
 '501',
 '504',
 '505',
 '508',
 '51',
 '510',
 '511',
 '516',
 '521',
 '522',
 '524',
 '527',
 '529',
 '530',
 '532',
 '54',
 '542',
 '544',
 '546',
 '549',
 '55',
 '552',
 '553',
 '556',
 '561',
 '562',
 '566',
 '568',
 '57',
 '571',
 '576',
 '582',
 '583',
 '585',
 '586',
 '587',
 '588',
 '59',
 '590',
 '591',
 '594',
 '595',
 '597',
 '598',
 '6',
 '602',
 '603',
 '609',
 '610',
 '611',
 '612',
 '616',
 '619',
 '620',
 '622',
 '628',
 '630',
 '631',
 '633',
 '635',
 '636',
 '64',
 '642',
 '644',
 '645',
 '646',
 '649',
 '65',
 '652',
 '653',
 '654',
 '656',
 '659',
 '66',
 '661',
 '662',
 '663',
 '665',
 '667',
 '67',
 '670',
 '672',
 '673',
 '675',
 '676',
 '678',
 '679',
 '68',
 '680',
 '682',
 '684',
 '689',
 '690',
 '691',
 '692',
 '693',
 '694',
 '695',
 '698',
 '70',
 '700',
 '701',
 '704',
 '709',
 '711',
 '713',
 '716',
 '72',
 '722',
 '724',
 '725',
 '726',
 '727',
 '73',
 '730',
 '732',
 '733',
 '740',
 '741',
 '744',
 '746',
 '747',
 '75',
 '753',
 '755',
 '759',
 '760',
 '764',
 '767',
 '77',
 '771',
 '774',
 '775',
 '776',
 '779',
 '78',
 '780',
 '781',
 '782',
 '783',
 '784',
 '785',
 '788',
 '789',
 '790',
 '791',
 '795',
 '797',
 '800',
 '805',
 '806',
 '807',
 '809',
 '81',
 '810',
 '816',
 '817',
 '819',
 '82',
 '821',
 '823',
 '824',
 '829',
 '83',
 '830',
 '835',
 '836',
 '838',
 '841',
 '845',
 '846',
 '847',
 '85',
 '850',
 '851',
 '853',
 '856',
 '857',
 '858',
 '86',
 '862',
 '864',
 '865',
 '866',
 '868',
 '870',
 '872',
 '874',
 '875',
 '876',
 '878',
 '879',
 '88',
 '885',
 '887',
 '89',
 '891',
 '892',
 '893',
 '897',
 '898',
 '899',
 '9',
 '904',
 '905',
 '906',
 '911',
 '913',
 '916',
 '918',
 '919',
 '921',
 '923',
 '924',
 '925',
 '93',
 '933',
 '936',
 '940',
 '946',
 '949',
 '95',
 '950',
 '951',
 '956',
 '961',
 '963',
 '967',
 '968',
 '969',
 '97',
 '973',
 '977',
 '979',
 '984',
 '986',
 '988',
 '992',
 '997',
 '998']

In [5]:
result_arr = np.load("result_train.npy")

In [6]:
result_arr

array([[1, 1, 1, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [7]:
stage1_df.Num

0         1
1        10
2      1000
3      1005
4      1007
       ...
555     986
556     988
557     992
558     997
559     998
Name: Num, Length: 560, dtype: int64

In [9]:
# create a df to store the results
result_df = pd.DataFrame({'Test':[], 'Reference': [], 'Similarity': []})
count = 0
similarity_list=[]

for article_vec in result_arr:
    # next_idx set the new index num
    for next_idx in range(len(result_arr)):
        next_vec = result_arr[next_idx]
        article_vec
        
        # present the keywords in the two file, 1 represent thay have the same keyword 
        agg_array = np.bitwise_and(article_vec, next_vec)
        # the num of repeated keywords in two file (test & reference)
        both_array_num = collections.Counter(agg_array)[1]
        #the num of keywords in the test file
        sing_array_num = collections.Counter(article_vec)[1]
        
        # if the num of keywords in the test file = 0, then similarity = 0
        if sing_array_num == 0:
            similarity = 0
        else:
            similarity = both_array_num/sing_array_num
            
        dict = {'Test': article_index[count], 'Reference': article_index[next_idx], 'Similarity': similarity}
        result_df = result_df.append(dict, ignore_index=True)
    count+=1

In [10]:
# result_df.to_csv("Train Label Results.csv", index= False)

In [13]:
result_df.iloc[561]

Test              10
Reference         10
Similarity(%)    NaN
Similarity         1
Name: 561, dtype: object

In [60]:
filtered_df = result_df

# create the index of df's row -> if test.num = reference.num
self_ref = list(range(0, 314160, 561))

self_ref
# drop the row if test.num = reference.num
filtered_df = filtered_df.drop(self_ref)

In [61]:
filtered_df.iloc[562]

Test               10
Reference        1007
Similarity(%)     NaN
Similarity        0.3
Name: 564, dtype: object

In [755]:
# filtered_df.to_csv("ForRiley.csv", index=False)

In [756]:
filtered_df

,Test,Reference,Similarity,Jaccard_Similarity(%),TF-CosineSimilarity,TFIDF-CosineSimilarity
0,1,10,0.000000,0.058252,0.144837,0.056918
1,1,1000,0.000000,0.045267,0.093737,0.028382
2,1,1005,0.000000,0.047826,0.112383,0.032288
3,1,1007,0.000000,0.040541,0.109976,0.030105
4,1,1010,0.142857,0.043668,0.081238,0.019695
...,...,...,...,...,...,...
313035,998,984,0.000000,0.053488,0.224078,0.046496
313036,998,986,0.000000,0.027875,0.127763,0.023124
313037,998,988,0.000000,0.024390,0.177660,0.033177
313038,998,992,0.333333,0.100000,0.158163,0.098255
313039,998,997,0.833333,0.141243,0.464145,0.251176

In [758]:
#　filtered_df.loc[filtered_df['Similarity'] >= 0.86][['Test', 'Reference']].to_csv("ForMango.csv", index=False)

In [753]:
# read new features
nf_df = pd.read_csv("results_cos_keywords_stage1.csv")
nf_df

,tf_cosine_once_keyword,tfidf_cosine_once_keyword,tf_cosine_multi_keyword,tfidf_cosine_multi_keyword
0,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000
4,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...
313035,0.000000,0.000000,0.000000,0.000000
313036,0.000000,0.000000,0.000000,0.000000
313037,0.000000,0.000000,0.000000,0.000000
313038,0.158114,0.096121,0.049654,0.024938
313039,0.801784,0.790138,0.979970,0.983695

In [760]:
# join two dfs
new_filtered_df = pd.merge(filtered_df, nf_df, left_index=True, right_index=True)
new_filtered_df

,Test,Reference,Similarity,Jaccard_Similarity(%),TF-CosineSimilarity,TFIDF-CosineSimilarity,tf_cosine_once_keyword,tfidf_cosine_once_keyword,tf_cosine_multi_keyword,tfidf_cosine_multi_keyword
0,1,10,0.000000,0.058252,0.144837,0.056918,0.000000,0.000000,0.000000,0.000000
1,1,1000,0.000000,0.045267,0.093737,0.028382,0.000000,0.000000,0.000000,0.000000
2,1,1005,0.000000,0.047826,0.112383,0.032288,0.000000,0.000000,0.000000,0.000000
3,1,1007,0.000000,0.040541,0.109976,0.030105,0.000000,0.000000,0.000000,0.000000
4,1,1010,0.142857,0.043668,0.081238,0.019695,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...
313035,998,984,0.000000,0.053488,0.224078,0.046496,0.000000,0.000000,0.000000,0.000000
313036,998,986,0.000000,0.027875,0.127763,0.023124,0.000000,0.000000,0.000000,0.000000
313037,998,988,0.000000,0.024390,0.177660,0.033177,0.000000,0.000000,0.000000,0.000000
313038,998,992,0.333333,0.100000,0.158163,0.098255,0.158114,0.096121,0.049654,0.024938
313039,998,997,0.833333,0.141243,0.464145,0.251176,0.801784,0.790138,0.979970,0.983695

In [761]:
new_filtered_df = new_filtered_df.loc[filtered_df["Test"] != 887]
new_filtered_df = new_filtered_df.loc[filtered_df["Reference"] != 887]
new_filtered_df

,Test,Reference,Similarity,Jaccard_Similarity(%),TF-CosineSimilarity,TFIDF-CosineSimilarity,tf_cosine_once_keyword,tfidf_cosine_once_keyword,tf_cosine_multi_keyword,tfidf_cosine_multi_keyword
0,1,10,0.000000,0.058252,0.144837,0.056918,0.000000,0.000000,0.000000,0.000000
1,1,1000,0.000000,0.045267,0.093737,0.028382,0.000000,0.000000,0.000000,0.000000
2,1,1005,0.000000,0.047826,0.112383,0.032288,0.000000,0.000000,0.000000,0.000000
3,1,1007,0.000000,0.040541,0.109976,0.030105,0.000000,0.000000,0.000000,0.000000
4,1,1010,0.142857,0.043668,0.081238,0.019695,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...
313035,998,984,0.000000,0.053488,0.224078,0.046496,0.000000,0.000000,0.000000,0.000000
313036,998,986,0.000000,0.027875,0.127763,0.023124,0.000000,0.000000,0.000000,0.000000
313037,998,988,0.000000,0.024390,0.177660,0.033177,0.000000,0.000000,0.000000,0.000000
313038,998,992,0.333333,0.100000,0.158163,0.098255,0.158114,0.096121,0.049654,0.024938
313039,998,997,0.833333,0.141243,0.464145,0.251176,0.801784,0.790138,0.979970,0.983695

In [763]:
# del new_filtered_df["Similarity(%)"]

In [764]:
new_filtered_df = new_filtered_df.reset_index()
del new_filtered_df["index"]

In [765]:
new_filtered_df

,Test,Reference,Similarity,Jaccard_Similarity(%),TF-CosineSimilarity,TFIDF-CosineSimilarity,tf_cosine_once_keyword,tfidf_cosine_once_keyword,tf_cosine_multi_keyword,tfidf_cosine_multi_keyword
0,1,10,0.000000,0.058252,0.144837,0.056918,0.000000,0.000000,0.000000,0.000000
1,1,1000,0.000000,0.045267,0.093737,0.028382,0.000000,0.000000,0.000000,0.000000
2,1,1005,0.000000,0.047826,0.112383,0.032288,0.000000,0.000000,0.000000,0.000000
3,1,1007,0.000000,0.040541,0.109976,0.030105,0.000000,0.000000,0.000000,0.000000
4,1,1010,0.142857,0.043668,0.081238,0.019695,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...
311917,998,984,0.000000,0.053488,0.224078,0.046496,0.000000,0.000000,0.000000,0.000000
311918,998,986,0.000000,0.027875,0.127763,0.023124,0.000000,0.000000,0.000000,0.000000
311919,998,988,0.000000,0.024390,0.177660,0.033177,0.000000,0.000000,0.000000,0.000000
311920,998,992,0.333333,0.100000,0.158163,0.098255,0.158114,0.096121,0.049654,0.024938
311921,998,997,0.833333,0.141243,0.464145,0.251176,0.801784,0.790138,0.979970,0.983695

In [767]:
new_filtered_df.to_csv("1209_new_features.csv", index=False)

In [768]:
# start from here
new_filtered_df = pd.read_csv("1209_new_features.csv")

In [769]:
# eat in the labeled data
label_df = pd.read_csv("TrainLabel.csv")

In [770]:
# add a column for 0 as no, 1 as yes (relevant)
label_df["Relevance"] = 1
label_df

      Test  Reference  Relevance
0        3        415          1
1        3        649          1
2        9          5          1
3       25         32          1
4       25         41          1
...    ...        ...        ...
1378  1382        921          1
1379  1382        940          1
1380  1382        949          1
1381  1391       1392          1
1382  1392       1391          1

[1383 rows x 3 columns]

In [771]:
label_df

      Test  Reference  Relevance
0        3        415          1
1        3        649          1
2        9          5          1
3       25         32          1
4       25         41          1
...    ...        ...        ...
1378  1382        921          1
1379  1382        940          1
1380  1382        949          1
1381  1391       1392          1
1382  1392       1391          1

[1383 rows x 3 columns]

In [773]:
# change column type for avoiding merge conflict
new_filtered_df["Test"] = new_filtered_df["Test"].astype(int)
new_filtered_df["Reference"] = new_filtered_df["Reference"].astype(int)

In [774]:
# read in csv file
# filtered_df = pd.read_csv("results_similarity_jac_cos_stage1_faster.csv")

In [775]:
# join the labeled df with the trained similarity data
joined_df = pd.merge(new_filtered_df, label_df, how="left", on=["Test", "Reference"])

In [776]:
joined_df.loc[joined_df["Relevance"] == 1]

,Test,Reference,Similarity,Jaccard_Similarity(%),TF-CosineSimilarity,TFIDF-CosineSimilarity,tf_cosine_once_keyword,tfidf_cosine_once_keyword,tf_cosine_multi_keyword,tfidf_cosine_multi_keyword,Relevance
1118,1000,1005,1.000000,0.747525,0.912821,0.821552,1.000000,1.000000,1.000000,1.000000,1.0
1124,1000,1023,1.000000,0.117871,0.426318,0.197453,1.000000,1.000000,0.926371,0.943482,1.0
1676,1005,1000,1.000000,0.747525,0.912821,0.821552,1.000000,1.000000,1.000000,1.000000,1.0
1682,1005,1023,1.000000,0.124000,0.438102,0.212171,1.000000,1.000000,0.926371,0.943482,1.0
2234,1007,1000,1.000000,0.304183,0.612369,0.479082,0.866025,0.786558,0.991460,0.984344,1.0
...,...,...,...,...,...,...,...,...,...,...,...
309983,988,438,0.666667,0.028881,0.355571,0.116262,0.577350,0.343951,0.676397,0.430811,1.0
310162,988,809,0.333333,0.088889,0.447932,0.229238,0.500000,0.478721,0.791960,0.856566,1.0
310205,988,891,0.666667,0.059322,0.357292,0.083515,0.534522,0.269144,0.718421,0.443020,1.0
310207,988,893,0.666667,0.049587,0.317015,0.146695,0.816497,0.731146,0.866100,0.870326,1.0
310216,988,913,0.666667,0.045918,0.224133,0.070300,0.408248,0.163410,0.613572,0.359487,1.0

In [777]:
joined_df.loc[joined_df["Relevance"] != 1]

,Test,Reference,Similarity,Jaccard_Similarity(%),TF-CosineSimilarity,TFIDF-CosineSimilarity,tf_cosine_once_keyword,tfidf_cosine_once_keyword,tf_cosine_multi_keyword,tfidf_cosine_multi_keyword,Relevance
0,1,10,0.000000,0.058252,0.144837,0.056918,0.000000,0.000000,0.000000,0.000000,NaN
1,1,1000,0.000000,0.045267,0.093737,0.028382,0.000000,0.000000,0.000000,0.000000,NaN
2,1,1005,0.000000,0.047826,0.112383,0.032288,0.000000,0.000000,0.000000,0.000000,NaN
3,1,1007,0.000000,0.040541,0.109976,0.030105,0.000000,0.000000,0.000000,0.000000,NaN
4,1,1010,0.142857,0.043668,0.081238,0.019695,0.000000,0.000000,0.000000,0.000000,NaN
...,...,...,...,...,...,...,...,...,...,...,...
311917,998,984,0.000000,0.053488,0.224078,0.046496,0.000000,0.000000,0.000000,0.000000,NaN
311918,998,986,0.000000,0.027875,0.127763,0.023124,0.000000,0.000000,0.000000,0.000000,NaN
311919,998,988,0.000000,0.024390,0.177660,0.033177,0.000000,0.000000,0.000000,0.000000,NaN
311920,998,992,0.333333,0.100000,0.158163,0.098255,0.158114,0.096121,0.049654,0.024938,NaN
311921,998,997,0.833333,0.141243,0.464145,0.251176,0.801784,0.790138,0.979970,0.983695,NaN

In [778]:
# replace nan for 0
joined_df["Relevance"] = joined_df["Relevance"].fillna(0)

In [779]:
joined_df

,Test,Reference,Similarity,Jaccard_Similarity(%),TF-CosineSimilarity,TFIDF-CosineSimilarity,tf_cosine_once_keyword,tfidf_cosine_once_keyword,tf_cosine_multi_keyword,tfidf_cosine_multi_keyword,Relevance
0,1,10,0.000000,0.058252,0.144837,0.056918,0.000000,0.000000,0.000000,0.000000,0.0
1,1,1000,0.000000,0.045267,0.093737,0.028382,0.000000,0.000000,0.000000,0.000000,0.0
2,1,1005,0.000000,0.047826,0.112383,0.032288,0.000000,0.000000,0.000000,0.000000,0.0
3,1,1007,0.000000,0.040541,0.109976,0.030105,0.000000,0.000000,0.000000,0.000000,0.0
4,1,1010,0.142857,0.043668,0.081238,0.019695,0.000000,0.000000,0.000000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...
311917,998,984,0.000000,0.053488,0.224078,0.046496,0.000000,0.000000,0.000000,0.000000,0.0
311918,998,986,0.000000,0.027875,0.127763,0.023124,0.000000,0.000000,0.000000,0.000000,0.0
311919,998,988,0.000000,0.024390,0.177660,0.033177,0.000000,0.000000,0.000000,0.000000,0.0
311920,998,992,0.333333,0.100000,0.158163,0.098255,0.158114,0.096121,0.049654,0.024938,0.0
311921,998,997,0.833333,0.141243,0.464145,0.251176,0.801784,0.790138,0.979970,0.983695,0.0

In [780]:
# removed 887
# joined_df = joined_df.loc[joined_df["Test"] != 887]
#joined_df = joined_df.loc[joined_df["Reference"] != 887]

In [782]:
# joined_df

In [831]:
# 卡丘的檔案
jaccard_only_kw_df = pd.read_csv("stage1_only_keyword_jaccard_similarity.csv")
jaccard_only_kw_df = jaccard_only_kw_df.rename({"Similarity(%)": "jaccard_once_keyword"}, axis=1)
jaccard_multi_kw_df = pd.read_csv("stage1_keyword_jaccard_similarity.csv")
jaccard_multi_kw_df = jaccard_multi_kw_df.rename({"Similarity(%)": "jaccard_multi_keyword"}, axis=1)
jaccard_stage1_df = pd.merge(jaccard_only_kw_df, jaccard_multi_kw_df, on=["Test", "Reference"], how="inner")
jaccard_stage1_df

        Test  Reference  jaccard_once_keyword  jaccard_multi_keyword
0          1          1              1.000000               1.000000
1          1         10              0.000000               0.000000
2          1       1000              0.000000               0.000000
3          1       1005              0.000000               0.000000
4          1       1007              0.000000               0.000000
...      ...        ...                   ...                    ...
313595   998        986              0.000000               0.000000
313596   998        988              0.000000               0.000000
313597   998        992              0.142857               0.142857
313598   998        997              0.700000               0.700000
313599   998        998              1.000000               1.000000

[313600 rows x 4 columns]

In [935]:
# 源如的檔案 (包含新的features)
leven_df = pd.read_csv("ForYanYuNewFeatures_stage1.csv")
leven_df['Leven_Similarity'] = leven_df['Leven_Similarity'] / 100
# merge dataframe and change column order
newf_df = pd.merge(leven_df, jaccard_stage1_df, on=["Test", "Reference"], how="left")[['Test', 'Reference', 'Similarity', 'tf_cosine_once_keyword', 'tfidf_cosine_once_keyword',
       'jaccard_once_keyword', 'jaccard_multi_keyword', 'Relevance']]
newf_df

,Test,Reference,Similarity,tf_cosine_once_keyword,tfidf_cosine_once_keyword,jaccard_once_keyword,jaccard_multi_keyword,Relevance
0,1,10,0.000000,0.000000,0.000000,0.000000,0.000000,0
1,1,1000,0.000000,0.000000,0.000000,0.000000,0.000000,0
2,1,1005,0.000000,0.000000,0.000000,0.000000,0.000000,0
3,1,1007,0.000000,0.000000,0.000000,0.000000,0.000000,0
4,1,1010,0.142857,0.000000,0.000000,0.090909,0.090909,0
...,...,...,...,...,...,...,...,...
311917,998,984,0.000000,0.000000,0.000000,0.000000,0.000000,0
311918,998,986,0.000000,0.000000,0.000000,0.000000,0.000000,0
311919,998,988,0.000000,0.000000,0.000000,0.000000,0.000000,0
311920,998,992,0.333333,0.158114,0.096121,0.142857,0.142857,0
311921,998,997,0.833333,0.801784,0.790138,0.700000,0.700000,0

In [936]:
# newf_df.to_csv("ForYuanRuGo_stage1.csv", index=False)

In [937]:
# remove some ugly data (???)
filtered_base_line_df = joined_df.loc[joined_df["Similarity"] >= 0]
filtered_base_line_df = newf_df

In [938]:
filtered_base_line_df

,Test,Reference,Similarity,tf_cosine_once_keyword,tfidf_cosine_once_keyword,jaccard_once_keyword,jaccard_multi_keyword,Relevance
0,1,10,0.000000,0.000000,0.000000,0.000000,0.000000,0
1,1,1000,0.000000,0.000000,0.000000,0.000000,0.000000,0
2,1,1005,0.000000,0.000000,0.000000,0.000000,0.000000,0
3,1,1007,0.000000,0.000000,0.000000,0.000000,0.000000,0
4,1,1010,0.142857,0.000000,0.000000,0.090909,0.090909,0
...,...,...,...,...,...,...,...,...
311917,998,984,0.000000,0.000000,0.000000,0.000000,0.000000,0
311918,998,986,0.000000,0.000000,0.000000,0.000000,0.000000,0
311919,998,988,0.000000,0.000000,0.000000,0.000000,0.000000,0
311920,998,992,0.333333,0.158114,0.096121,0.142857,0.142857,0
311921,998,997,0.833333,0.801784,0.790138,0.700000,0.700000,0

In [939]:
# filtered_base_line_df.to_csv("ForYuanRuNewFeatures.csv", index=False)

In [940]:
# create X values
X_df = filtered_base_line_df.copy()
del X_df['Test']
del X_df['Reference']
del X_df['Relevance']
X_df

,Similarity,tf_cosine_once_keyword,tfidf_cosine_once_keyword,jaccard_once_keyword,jaccard_multi_keyword
0,0.000000,0.000000,0.000000,0.000000,0.000000
1,0.000000,0.000000,0.000000,0.000000,0.000000
2,0.000000,0.000000,0.000000,0.000000,0.000000
3,0.000000,0.000000,0.000000,0.000000,0.000000
4,0.142857,0.000000,0.000000,0.090909,0.090909
...,...,...,...,...,...
311917,0.000000,0.000000,0.000000,0.000000,0.000000
311918,0.000000,0.000000,0.000000,0.000000,0.000000
311919,0.000000,0.000000,0.000000,0.000000,0.000000
311920,0.333333,0.158114,0.096121,0.142857,0.142857
311921,0.833333,0.801784,0.790138,0.700000,0.700000

In [941]:
# turn X_df into numpy array
X1 = X_df.values
X1

array([[0.        , 0.        , 0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ],
       ...,
       [0.        , 0.        , 0.        , 0.        , 0.        ],
       [0.33333333, 0.15811388, 0.09612136, 0.14285714, 0.14285714],
       [0.83333333, 0.80178373, 0.79013767, 0.7       , 0.7       ]])

In [942]:
# get features of our join df
# X1 = sm_series.values.reshape(len(sm_series.values), 1)
# X1

In [943]:
# get labels for classifier
Y1 = filtered_base_line_df.Relevance.values
Y1

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [944]:
# encode labels
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()
y = le.fit_transform(Y1)
y

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [987]:
# split train set & test set
from sklearn.model_selection import train_test_split
X1_train, X1_test, y1_train, y1_test = train_test_split(X1, y, test_size=0.5, random_state=1)

In [975]:
# use Decision Tree to classify
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB, MultinomialNB
from sklearn.utils import class_weight
from sklearn.svm import LinearSVC
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier



train_sample = class_weight.compute_sample_weight('balanced', y1_train)
test_sample = class_weight.compute_sample_weight('balanced', y1_test)
clf2 = DecisionTreeClassifier()
clf2.fit(X1_train, y1_train, sample_weight=train_sample)

DecisionTreeClassifier()

In [846]:
# predict
y1_pred = clf2.predict(X1_test)

In [847]:
# accuracy score for the result
from sklearn.metrics import accuracy_score
accuracy_score(y_true=y1_test, y_pred=y1_pred, sample_weight=test_sample)

0.8005474834493979

In [848]:
from sklearn.metrics import classification_report
print(classification_report(y_true=y1_test, y_pred=y1_pred, digits=4))
print(classification_report(y_true=y1_test, y_pred=y1_pred, digits=4, sample_weight=test_sample))

              precision    recall  f1-score   support

           0     0.9982    0.9989    0.9986     62111
           1     0.7082    0.6022    0.6509       274

    accuracy                         0.9972     62385
   macro avg     0.8532    0.8005    0.8247     62385
weighted avg     0.9970    0.9972    0.9970     62385

              precision    recall  f1-score   support

           0     0.7152    0.9989    0.8336 31192.500000023712
           1     0.9982    0.6022    0.7512 31192.5000000002

    accuracy                         0.8005 62385.00000002391
   macro avg     0.8567    0.8005    0.7924 62385.00000002391
weighted avg     0.8567    0.8005    0.7924 62385.00000002391

In [655]:
pip install xgboost

Requirement already satisfied: xgboost in c:\programdata\anaconda3\lib\site-packages (1.5.1)Note: you may need to restart the kernel to use updated packages.

Requirement already satisfied: numpy in c:\users\sammy\appdata\roaming\python\python36\site-packages (from xgboost) (1.19.5)
Requirement already satisfied: scipy in c:\programdata\anaconda3\lib\site-packages (from xgboost) (1.5.2)

WARNING: You are using pip version 21.0.1; however, version 21.3.1 is available.
You should consider upgrading via the 'C:\ProgramData\Anaconda3\python.exe -m pip install --upgrade pip' command.

In [814]:
# use XGBoost to classify
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB, MultinomialNB
from sklearn.utils import class_weight
from xgboost.sklearn import XGBClassifier
train_sample = class_weight.compute_sample_weight('balanced', y1_train)
test_sample = class_weight.compute_sample_weight('balanced', y1_test)
clf3 =  XGBClassifier(
        #樹的個數
        n_estimators=100,
        # 如同學習率
        learning_rate= 0.3, 
        # 構建樹的深度，越大越容易過擬合    
        max_depth=6, 
        # 隨機取樣訓練樣本 訓練例項的子取樣比
        subsample=1, 
        # 用於控制是否後剪枝的引數,越大越保守，一般0.1、0.2這樣子
        gamma=0, 
        # 控制模型複雜度的權重值的L2正則化項引數，引數越大，模型越不容易過擬合。
        reg_lambda=1,  
        
        #最大增量步長，我們允許每個樹的權重估計。
        max_delta_step=0,
        # 生成樹時進行的列取樣 
        colsample_bytree=1, 

        # 這個引數預設是 1，是每個葉子裡面 h 的和至少是多少，對正負樣本不均衡時的 0-1 分類而言
        # 假設 h 在 0.01 附近，min_child_weight 為 1 意味著葉子節點中最少需要包含 100 個樣本。
        #這個引數非常影響結果，控制葉子節點中二階導的和的最小值，該引數值越小，越容易 overfitting。
        min_child_weight=1, 

        #隨機種子
        seed=1000,
        
        # L1 正則項引數
#        reg_alpha=0,
        
        #如果取值大於0的話，在類別樣本不平衡的情況下有助於快速收斂。平衡正負權重
        scale_pos_weight=1,
        
        #多分類的問題 指定學習任務和相應的學習目標
        #objective= 'multi:softmax', 
        
        # 類別數，多分類與 multisoftmax 並用
        #num_class=2
        
        # 設定成1則沒有執行資訊輸出，最好是設定為0.是否在執行升級時列印訊息。
#        silent=0 ,
        # cpu 執行緒數 預設最大
#        nthread=4,
    
        #eval_metric= 'auc'
)
clf3.fit(X1_train, y1_train, sample_weight=train_sample)

C:\ProgramData\Anaconda3\lib\site-packages\xgboost\sklearn.py:1224: UserWarning: The use of label encoder in XGBClassifier is deprecated and will be removed in a future release. To remove this warning, do the following: 1) Pass option use_label_encoder=False when constructing XGBClassifier object; and 2) Encode your labels (y) as integers starting with 0, i.e. 0, 1, 2, ..., [num_class - 1].
  warnings.warn(label_encoder_deprecation_msg, UserWarning)

[01:39:14] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              gamma=0, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=0.3, max_delta_step=0,
              max_depth=6, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=100, n_jobs=2,
              num_parallel_tree=1, predictor='auto', random_state=1000,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=1000,
              subsample=1, tree_method='exact', validate_parameters=1,
              verbosity=None)

In [815]:
# predict
y1_pred = clf3.predict(X1_test)

In [816]:
# accuracy score for the result
from sklearn.metrics import accuracy_score
accuracy_score(y_true=y1_test, y_pred=y1_pred, sample_weight=test_sample)

0.9222145494873963

In [817]:
from sklearn.metrics import classification_report
print(classification_report(y_true=y1_test, y_pred=y1_pred, digits=4))
print(classification_report(y_true=y1_test, y_pred=y1_pred, digits=4, sample_weight=test_sample))

              precision    recall  f1-score   support

           0     0.9993    0.9977    0.9985     62111
           1     0.6203    0.8467    0.7160       274

    accuracy                         0.9971     62385
   macro avg     0.8098    0.9222    0.8573     62385
weighted avg     0.9977    0.9971    0.9973     62385

              precision    recall  f1-score   support

           0     0.8668    0.9977    0.9277 31192.500000023712
           1     0.9973    0.8467    0.9159 31192.5000000002

    accuracy                         0.9222 62385.00000002391
   macro avg     0.9321    0.9222    0.9218 62385.00000002391
weighted avg     0.9321    0.9222    0.9218 62385.00000002391

In [988]:
# use RandomForest to classify
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB, MultinomialNB
from sklearn.utils import class_weight
train_sample = class_weight.compute_sample_weight('balanced', y1_train)
test_sample = class_weight.compute_sample_weight('balanced', y1_test)
clf1 = RandomForestClassifier()
clf1.fit(X1_train, y1_train, sample_weight=train_sample)

RandomForestClassifier()

In [989]:
# predict
y1_pred = clf1.predict(X1_test)

In [990]:
# accuracy score for the result
from sklearn.metrics import accuracy_score
accuracy_score(y_true=y1_test, y_pred=y1_pred, sample_weight=test_sample)

0.8532248323727655

In [991]:
from sklearn.metrics import classification_report
print(classification_report(y_true=y1_test, y_pred=y1_pred, digits=4))
print(classification_report(y_true=y1_test, y_pred=y1_pred, digits=4, sample_weight=test_sample))

              precision    recall  f1-score   support

           0     0.9987    0.9994    0.9990    155251
           1     0.8451    0.7070    0.7699       710

    accuracy                         0.9981    155961
   macro avg     0.9219    0.8532    0.8845    155961
weighted avg     0.9980    0.9981    0.9980    155961

              precision    recall  f1-score   support

           0     0.7733    0.9994    0.8719 77980.4999998802
           1     0.9992    0.7070    0.8281 77980.49999999977

    accuracy                         0.8532 155960.99999987998
   macro avg     0.8862    0.8532    0.8500 155960.99999987998
weighted avg     0.8862    0.8532    0.8500 155960.99999987998

In [747]:
# removed based line datat
try_df = pd.DataFrame(X1_test)
try_df['y1_test'] = y1_test
try_df['y1_true'] = y1_pred

try_df

              0         1         2         3  y1_test  y1_true
0      0.100000  0.104328  0.028616  0.026667        0        0
1      0.000000  0.007404  0.000448  0.012987        0        0
2      0.125000  0.224403  0.043194  0.022472        0        0
3      0.000000  0.118369  0.019678  0.031008        0        0
4      0.000000  0.175653  0.046547  0.073684        0        0
...         ...       ...       ...       ...      ...      ...
62380  0.333333  0.125622  0.027406  0.029412        0        0
62381  0.111111  0.081044  0.009758  0.012195        0        0
62382  0.000000  0.182799  0.041477  0.053719        0        0
62383  0.000000  0.156247  0.023757  0.070588        0        0
62384  0.000000  0.243817  0.062226  0.061538        0        0

[62385 rows x 6 columns]

In [748]:
try_df.loc[(try_df['y1_test'] == 1) & (try_df['y1_true'] == 1)]

         0         1         2         3  y1_test  y1_true
214    1.0  0.817887  0.840733  0.613636        1        1
364    1.0  0.869627  0.864279  0.696078        1        1
413    1.0  0.447097  0.315489  0.240506        1        1
1272   1.0  0.352927  0.214645  0.183673        1        1
1967   1.0  0.943534  0.921943  0.802817        1        1
...    ...       ...       ...       ...      ...      ...
61343  1.0  0.624110  0.542444  0.350877        1        1
61802  1.0  0.867288  0.854864  0.729508        1        1
61951  1.0  0.653304  0.523256  0.390110        1        1
61985  1.0  0.624110  0.542444  0.350877        1        1
62063  1.0  0.615176  0.619621  0.242424        1        1

[126 rows x 6 columns]

In [752]:
len(try_df.loc[(try_df['y1_test'] == 0) & (try_df['y1_true'] == 1)])

54

In [751]:
try_df.loc[(try_df['y1_test'] == 1) & (try_df['y1_true'] == 0)]

              0         1         2         3  y1_test  y1_true
50     0.833333  0.297370  0.238256  0.078035        1        0
1393   1.000000  0.412185  0.203987  0.155340        1        0
1466   1.000000  0.326293  0.103088  0.039216        1        0
2117   1.000000  0.656104  0.461802  0.295720        1        0
2642   1.000000  0.193294  0.086701  0.089202        1        0
...         ...       ...       ...       ...      ...      ...
61991  0.833333  0.293953  0.100509  0.086957        1        0
62042  0.833333  0.669507  0.577130  0.468531        1        0
62169  1.000000  0.351579  0.243455  0.212644        1        0
62240  1.000000  0.264845  0.122789  0.098837        1        0
62341  1.000000  0.424476  0.376987  0.309091        1        0

[148 rows x 6 columns]

In [741]:
y1_test

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [664]:
# read in stage 2 similarity count data
stage2_test_df = pd.read_csv("Test Label Results.csv")

In [665]:
stage2_test_df

        Test  Reference  Similarity(%)
0       1001       1001          100.0
1       1001       1004            0.0
2       1001       1006            0.0
3       1001       1008           25.0
4       1001       1009           25.0
...      ...        ...            ...
177236   999        991            0.0
177237   999        993            0.0
177238   999        994            0.0
177239   999        996            0.0
177240   999        999          100.0

[177241 rows x 3 columns]

In [666]:
# create the index of df's row -> if test.num = reference.num
self_ref = list(range(0, 177662, 422))

self_ref
# drop the row if test.num = reference.num
stage2_test_df = stage2_test_df.drop(self_ref)

stage2_test_df

        Test  Reference  Similarity(%)
1       1001       1004            0.0
2       1001       1006            0.0
3       1001       1008           25.0
4       1001       1009           25.0
5       1001       1012            0.0
...      ...        ...            ...
177235   999        990            0.0
177236   999        991            0.0
177237   999        993            0.0
177238   999        994            0.0
177239   999        996            0.0

[176820 rows x 3 columns]

In [667]:
# reset index
stage2_test_df = stage2_test_df.reset_index()
del stage2_test_df['index']
stage2_test_df

        Test  Reference  Similarity(%)
0       1001       1004            0.0
1       1001       1006            0.0
2       1001       1008           25.0
3       1001       1009           25.0
4       1001       1012            0.0
...      ...        ...            ...
176815   999        990            0.0
176816   999        991            0.0
176817   999        993            0.0
176818   999        994            0.0
176819   999        996            0.0

[176820 rows x 3 columns]

In [668]:
# read in cosine similarity data
cos_df = pd.read_csv("results_cos_stage2_faster.csv")
cos_df

        TF-CosineSimilarity  TFIDF-CosineSimilarity
0                  0.116383                0.044458
1                  0.043355                0.004424
2                  0.166806                0.046272
3                  0.287453                0.169351
4                  0.156721                0.093073
...                     ...                     ...
176815             0.182012                0.055613
176816             0.111370                0.041898
176817             0.075416                0.026956
176818             0.164774                0.059947
176819             0.135678                0.056395

[176820 rows x 2 columns]

In [699]:
# join two dfs
output_df = pd.merge(stage2_test_df, cos_df, left_index=True, right_index=True)
output_df

,Test,Reference,Similarity(%),TF-CosineSimilarity,TFIDF-CosineSimilarity
0,1001,1004,0.0,0.116383,0.044458
1,1001,1006,0.0,0.043355,0.004424
2,1001,1008,25.0,0.166806,0.046272
3,1001,1009,25.0,0.287453,0.169351
4,1001,1012,0.0,0.156721,0.093073
...,...,...,...,...,...
176815,999,990,0.0,0.182012,0.055613
176816,999,991,0.0,0.111370,0.041898
176817,999,993,0.0,0.075416,0.026956
176818,999,994,0.0,0.164774,0.059947
176819,999,996,0.0,0.135678,0.056395

In [700]:
# read in jaccard data
jaccard_df = pd.read_csv("jaccard_similarity2.csv")
j_df = jaccard_df[["Test", "Reference"]]
o_df = output_df[["Test", "Reference"]]

miss_df = pd.concat([j_df, o_df]).drop_duplicates(keep=False)
miss_df

        Test  Reference
8338    1048        803
150799   803       1048

In [701]:
# put data back
jaccard_df = jaccard_df.append(miss_df).fillna(1)

In [702]:
output_df = pd.merge(output_df, jaccard_df, how="left")
output_df

,Test,Reference,Similarity(%),TF-CosineSimilarity,TFIDF-CosineSimilarity,Jaccard Similarity(%)
0,1001,1004,0.0,0.116383,0.044458,0.071856
1,1001,1006,0.0,0.043355,0.004424,0.013514
2,1001,1008,25.0,0.166806,0.046272,0.050336
3,1001,1009,25.0,0.287453,0.169351,0.135211
4,1001,1012,0.0,0.156721,0.093073,0.091483
...,...,...,...,...,...,...
176815,999,990,0.0,0.182012,0.055613,0.084507
176816,999,991,0.0,0.111370,0.041898,0.053191
176817,999,993,0.0,0.075416,0.026956,0.048077
176818,999,994,0.0,0.164774,0.059947,0.094660
176819,999,996,0.0,0.135678,0.056395,0.072682

In [853]:
# 卡丘的檔案
jaccard_only_kw_2_df = pd.read_csv("stage2_only_keyword_jaccard_similarity.csv")
jaccard_only_kw_2_df = jaccard_only_kw_2_df.rename({"Similarity(%)": "jaccard_once_keyword"}, axis=1)
jaccard_multi_kw_2_df = pd.read_csv("stage2_keyword_jaccard_similarity.csv")
jaccard_multi_kw_2_df = jaccard_multi_kw_2_df.rename({"Similarity(%)": "jaccard_multi_keyword"}, axis=1)
jaccard_stage2_df = pd.merge(jaccard_only_kw_2_df, jaccard_multi_kw_2_df, on=["Test", "Reference"], how="inner")
jaccard_stage2_df

        Test  Reference  jaccard_once_keyword  jaccard_multi_keyword
0       1001       1001              1.000000               1.000000
1       1001       1004              0.000000               0.000000
2       1001       1006              0.000000               0.000000
3       1001       1008              0.090909               0.090909
4       1001       1009              0.166667               0.166667
...      ...        ...                   ...                    ...
177236   999        991              0.000000               0.000000
177237   999        993              0.000000               0.000000
177238   999        994              0.000000               0.000000
177239   999        996              0.000000               0.000000
177240   999        999              1.000000               1.000000

[177241 rows x 4 columns]

In [883]:
# 源如的檔案 (包含新的features)
leven_stage2_df = pd.read_csv("ForYanYuNewFeatures_stage2.csv")

# leven_stage2_df
# merge dataframe and change column order
newf_stage2_df = pd.merge(leven_stage2_df, jaccard_stage2_df, on=["Test", "Reference"], how="left")
newf_stage2_df = newf_stage2_df.rename({'Similarity(%)': 'Similarity'}, axis=1)
newf_stage2_df['Similarity'] = newf_stage2_df['Similarity'] / 100
newf_stage2_df

,Test,Reference,Similarity,Jaccard Similarity(%),TF-CosineSimilarity,TFIDF-CosineSimilarity,Leven_Similarity,tf_cosine_once_keyword,tfidf_cosine_once_keyword,tf_cosine_multi_keyword,tfidf_cosine_multi_keyword,jaccard_once_keyword,jaccard_multi_keyword
0,1001,1004,0.00,0.071856,0.116383,0.044458,0.292683,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
1,1001,1006,0.00,0.013514,0.043355,0.004424,0.329670,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2,1001,1008,0.25,0.050336,0.166806,0.046272,0.383838,0.176777,0.061200,0.241101,0.108481,0.090909,0.090909
3,1001,1009,0.25,0.135211,0.287453,0.169351,0.347826,0.288675,0.119242,0.231800,0.106533,0.166667,0.166667
4,1001,1012,0.00,0.091483,0.156721,0.093073,0.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
176815,999,990,0.00,0.084507,0.182012,0.055613,0.285714,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
176816,999,991,0.00,0.053191,0.111370,0.041898,0.277778,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
176817,999,993,0.00,0.048077,0.075416,0.026956,0.217822,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
176818,999,994,0.00,0.094660,0.164774,0.059947,0.280702,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
176819,999,996,0.00,0.072682,0.135678,0.056395,0.393162,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [884]:
print(X_df.columns.values)
print(newf_stage2_df.columns.values)

['Similarity' 'Jaccard_Similarity(%)' 'TF-CosineSimilarity'
 'TFIDF-CosineSimilarity' 'Leven_Similarity' 'tf_cosine_once_keyword'
 'tfidf_cosine_once_keyword' 'tf_cosine_multi_keyword'
 'tfidf_cosine_multi_keyword' 'jaccard_once_keyword'
 'jaccard_multi_keyword']
['Test' 'Reference' 'Similarity' 'Jaccard Similarity(%)'
 'TF-CosineSimilarity' 'TFIDF-CosineSimilarity' 'Leven_Similarity'
 'tf_cosine_once_keyword' 'tfidf_cosine_once_keyword'
 'tf_cosine_multi_keyword' 'tfidf_cosine_multi_keyword'
 'jaccard_once_keyword' 'jaccard_multi_keyword']

In [861]:
# for yuan ru
newf_stage2_df.to_csv("ForYuanRuGo_stage2.csv", index=False)

In [703]:
# change the scale
output_df['Similarity'] = output_df['Similarity(%)']/100
output_df

,Test,Reference,Similarity(%),TF-CosineSimilarity,TFIDF-CosineSimilarity,Jaccard Similarity(%),Similarity
0,1001,1004,0.0,0.116383,0.044458,0.071856,0.00
1,1001,1006,0.0,0.043355,0.004424,0.013514,0.00
2,1001,1008,25.0,0.166806,0.046272,0.050336,0.25
3,1001,1009,25.0,0.287453,0.169351,0.135211,0.25
4,1001,1012,0.0,0.156721,0.093073,0.091483,0.00
...,...,...,...,...,...,...,...
176815,999,990,0.0,0.182012,0.055613,0.084507,0.00
176816,999,991,0.0,0.111370,0.041898,0.053191,0.00
176817,999,993,0.0,0.075416,0.026956,0.048077,0.00
176818,999,994,0.0,0.164774,0.059947,0.094660,0.00
176819,999,996,0.0,0.135678,0.056395,0.072682,0.00

In [675]:
# remove some ugly data (???)
output_df = output_df.loc[output_df["Similarity"] >= 0.86]

In [704]:
output_df

,Test,Reference,Similarity(%),TF-CosineSimilarity,TFIDF-CosineSimilarity,Jaccard Similarity(%),Similarity
0,1001,1004,0.0,0.116383,0.044458,0.071856,0.00
1,1001,1006,0.0,0.043355,0.004424,0.013514,0.00
2,1001,1008,25.0,0.166806,0.046272,0.050336,0.25
3,1001,1009,25.0,0.287453,0.169351,0.135211,0.25
4,1001,1012,0.0,0.156721,0.093073,0.091483,0.00
...,...,...,...,...,...,...,...
176815,999,990,0.0,0.182012,0.055613,0.084507,0.00
176816,999,991,0.0,0.111370,0.041898,0.053191,0.00
176817,999,993,0.0,0.075416,0.026956,0.048077,0.00
176818,999,994,0.0,0.164774,0.059947,0.094660,0.00
176819,999,996,0.0,0.135678,0.056395,0.072682,0.00

In [677]:
# so tired
#tired_df = output_df
#del tired_df['Similarity(%)']
#tired_df.to_csv("Tired.csv", index=False)

In [678]:
output_df.loc[output_df['Jaccard Similarity(%)'].isnull()]

Empty DataFrame
Columns: [Test, Reference, Similarity(%), TF-CosineSimilarity, TFIDF-CosineSimilarity, Jaccard Similarity(%), Similarity]
Index: []

In [950]:
# get the features of stage 2 data
X2_df = newf_stage2_df[
    ['Similarity', 'tf_cosine_once_keyword', 'tfidf_cosine_once_keyword',
       'jaccard_once_keyword', 'jaccard_multi_keyword']
    #['Similarity', 'Jaccard Similarity(%)',
    # 'TF-CosineSimilarity', 'TFIDF-CosineSimilarity',
    #'Leven_Similarity', 'tf_cosine_once_keyword',
    #'tfidf_cosine_once_keyword', 'tf_cosine_multi_keyword',
    #'tfidf_cosine_multi_keyword', 'jaccard_once_keyword', 'jaccard_multi_keyword']
]
X2_df

,Similarity,tf_cosine_once_keyword,tfidf_cosine_once_keyword,jaccard_once_keyword,jaccard_multi_keyword
0,0.00,0.000000,0.000000,0.000000,0.000000
1,0.00,0.000000,0.000000,0.000000,0.000000
2,0.25,0.176777,0.061200,0.090909,0.090909
3,0.25,0.288675,0.119242,0.166667,0.166667
4,0.00,0.000000,0.000000,0.000000,0.000000
...,...,...,...,...,...
176815,0.00,0.000000,0.000000,0.000000,0.000000
176816,0.00,0.000000,0.000000,0.000000,0.000000
176817,0.00,0.000000,0.000000,0.000000,0.000000
176818,0.00,0.000000,0.000000,0.000000,0.000000
176819,0.00,0.000000,0.000000,0.000000,0.000000

In [865]:
X2_df.iloc[68]

Similarity(%)                 0.000000
Jaccard Similarity(%)         0.033962
TF-CosineSimilarity           0.106985
TFIDF-CosineSimilarity        0.025972
Leven_Similarity              0.279070
tf_cosine_once_keyword        0.000000
tfidf_cosine_once_keyword     0.000000
tf_cosine_multi_keyword       0.000000
tfidf_cosine_multi_keyword    0.000000
jaccard_once_keyword          0.000000
jaccard_multi_keyword         0.000000
Name: 68, dtype: float64

In [951]:
# turn X2_df into numpy array
X2 = X2_df.values
X2

array([[0.        , 0.        , 0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ],
       [0.25      , 0.1767767 , 0.06120031, 0.09090909, 0.09090909],
       ...,
       [0.        , 0.        , 0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.        ]])

In [952]:
np.argwhere(np.isnan(X2))

array([], shape=(0, 2), dtype=int64)

In [868]:
# get the features of stage 2 data
# sm_series2 = stage2_test_df['Similarity(%)'].values
# X2 = (sm_series2/100).reshape(len(sm_series2), 1)
# X2

In [992]:
Y2 = clf1.predict(X2)

In [993]:
Y2

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [994]:
stage2_labels = pd.Series(Y2)

In [995]:
stage2_labels

0         0
1         0
2         0
3         0
4         0
         ..
176815    0
176816    0
176817    0
176818    0
176819    0
Length: 176820, dtype: int64

In [996]:
# append the results
final_df = newf_stage2_df[['Test', 'Reference', 'Similarity']]
final_df = final_df.reset_index()
del final_df['index']
final_df["Result"] = stage2_labels
final_df

        Test  Reference  Similarity  Result
0       1001       1004        0.00       0
1       1001       1006        0.00       0
2       1001       1008        0.25       0
3       1001       1009        0.25       0
4       1001       1012        0.00       0
...      ...        ...         ...     ...
176815   999        990        0.00       0
176816   999        991        0.00       0
176817   999        993        0.00       0
176818   999        994        0.00       0
176819   999        996        0.00       0

[176820 rows x 4 columns]

In [997]:
# filtered the data for the results are yes
final_df = final_df.loc[final_df['Result'] == 1]
final_df

        Test  Reference  Similarity  Result
155     1001         19         1.0       1
1545    1008        573         1.0       1
1546    1008        574         1.0       1
2007    1009        714         1.0       1
5142    1028         13         1.0       1
...      ...        ...         ...     ...
169659   939        930         1.0       1
170898    96         87         1.0       1
170967   960       1064         1.0       1
171323   960        889         1.0       1
175109   991        908         1.0       1

[555 rows x 4 columns]

In [998]:
final_df.loc[final_df['Similarity'] <= 0.83]

        Test  Reference  Similarity  Result
79368    287        970    0.750000       1
89668     38        359    0.666667       1
110396   490         80    0.666667       1
133548   688        970    0.727273       1

In [973]:
final_df[['Test', 'Reference']].to_csv("YoPuO2.csv", index=False)

In [906]:
# see the results which has low similarities
# final_df.loc[final_df['Similarity'] >= 0.83]

        Test  Reference  Similarity  Result
382     1001        889    1.000000       1
1545    1008        573    1.000000       1
1546    1008        574    1.000000       1
3248    1019        660    0.900000       1
5142    1028         13    1.000000       1
...      ...        ...         ...     ...
169659   939        930    1.000000       1
170898    96         87    1.000000       1
171323   960        889    1.000000       1
175016   991        615    1.000000       1
176162   996        269    0.923077       1

[722 rows x 4 columns]

In [300]:
# try to set the baseline for the similarity
# final_df = final_df.loc[final_df['Similarity(%)'] >= 95]

In [922]:
# del two columns
del final_df["Result"]
del final_df["Similarity"]

In [923]:
# output the data
final_df.to_csv("Random_Forest_new_features_no_filt.csv", index=False)

In [924]:
# read original csv
ori_df = pd.read_csv("Last Results_95.csv")

In [932]:
oori_df = pd.read_csv("Test Results Filtered-1.csv")
oori_df =  oori_df.loc[oori_df['Similarity(%)'] >= 86]
oori_df

        Test  Reference  Similarity(%)
6       1001       1019     100.000000
8       1001       1022     100.000000
14      1001       1034     100.000000
17      1001       1040     100.000000
35      1001       1091     100.000000
...      ...        ...            ...
175016   991        615     100.000000
175109   991        908     100.000000
175135   991        990     100.000000
176028   996       1123      92.307692
176162   996        269      92.307692

[1182 rows x 3 columns]

In [925]:
ori_df.loc[ori_df['Test'] == 1001]

    Test  Reference
0   1001       1019
1   1001       1022
2   1001       1034
3   1001       1040
4   1001       1091
5   1001       1123
6   1001         19
7   1001        269
8   1001        315
9   1001        390
10  1001        399
11  1001        451
12  1001        660
13  1001        889
14  1001        996

In [926]:
final_df.loc[final_df['Test'] == 1001]

     Test  Reference
151  1001        172
382  1001        889
406  1001        960

In [927]:
# output the overmap data
#ori_rf_df = 
pd.concat([final_df, ori_df]).drop_duplicates(keep=False)
#ori_rf_df.to_csv("Ori_Random_Forest.csv", index=False)

      Test  Reference
151   1001        172
406   1001        960
1373  1008       1328
1475  1008        389
1570  1008        666
...    ...        ...
962    960        281
963    960        426
965    991        407
967    991        908
968    991        990

[1583 rows x 2 columns]

In [928]:
pd.merge(final_df, ori_df, how="inner", on=["Test", "Reference"])

     Test  Reference
0    1001        889
1    1008        573
2    1008        574
3    1028         13
4    1028        416
..    ...        ...
483   939        903
484   939        930
485    96         87
486   960        889
487   991        615

[488 rows x 2 columns]

In [934]:
pd.merge(final_df, oori_df, how="inner", on=["Test", "Reference"])[['Test', 'Reference']].to_csv("OverMapOri86_RandomForest.csv", index=False)

In [192]:
# use GaussianNB to classify
from sklearn.tree import DecisionTreeClassifier
clf2 = DecisionTreeClassifier()
clf2.fit(X1_train, y1_train)

DecisionTreeClassifier()

In [193]:
# predict
y1_pred = clf2.predict(X1_test)

In [194]:
# accuracy score for the result
from sklearn.metrics import accuracy_score
accuracy_score(y_true=y1_test, y_pred=y1_pred)

0.9952402248913876

In [195]:
Y2 = clf2.predict(X2)

In [196]:
stage2_labels = pd.Series(Y2)

In [197]:
stage2_test_df['Result'] = stage2_labels
stage2_test_df

        Test  Reference  Similarity(%)  Result
1       1001       1004            0.0       0
2       1001       1006            0.0       0
3       1001       1008           25.0       0
4       1001       1009           25.0       0
5       1001       1012            0.0       0
...      ...        ...            ...     ...
177235   999        990            0.0       0
177236   999        991            0.0       0
177237   999        993            0.0       0
177238   999        994            0.0       0
177239   999        996            0.0       0

[176820 rows x 4 columns]

In [ ]:
# filtered the data for the results are yes
output_df2 = stage2_test_df.loc[stage2_test_df['Result'] == 1]
output_df2